.line-eight,
.line-seven,
.line-six,
.line-five,
.line-four,
.line-three,
.line-two,
.line-one {
  display: flex;
}

.top,
.bottom {
  display: flex;
  font-size: 1em;
}

.white {
  background-color: rgb(225, 224, 205);
  width: 20%;
  aspect-ratio: 1 /1;
}

.black {
  background-color: rgb(9, 25, 9);
  width: 20%;
  aspect-ratio: 1 / 1;
}

.top-tiles,
.bottom-tiles {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding: 2px;
  width: 20%;
  background-color: rgb(144, 135, 100);
}

.side {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding: 2px;
  background-color: rgb(144, 135, 100);
  width: 5%;
}

.line-one > .white,
.line-one > .black,
.line-two > .white,
.line-two > .black {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: rgb(144, 135, 100);
  font-size: 2em;
  aspect-ratio: 1 /1;
}

.line-eight > .white,
.line-eight > .black,
.line-seven > .black,
.line-seven > .white {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: rgb(84, 72, 19);
  font-size: 2em;
  aspect-ratio: 1 /1;
}

.top > .side,
.bottom > .side {
  width: 5%;
}
