@media (min-width: 1000px) {
  h1 {
    font-size: 5vw;
  }
  .chessboard {
    width: 500px;
  }
}

@media (max-width: 525px) {
  .chessboard {
    width: 100px;
    aspect-ratio: 1 / 1;
  }
}

@media (max-height: 600px) {
  .chessboard {
    width: 100px;
    aspect-ratio: 1 / 1;
  }
}

@media (max-height: 520px) {
  h1 {
    font-size: 5vh;
  }
  .chessboard {
    width: 20px;
  }
  .black,
  .white {
    width: 10%;
  }
  .top-tiles,
  .bottom-tiles {
    width: 10%;
  }
}

@media (max-height: 450px) {
  h1 {
    font-size: 5vh;
  }
  .chessboard {
    width: 10px;
  }
}
